---
import type { CollectionEntry } from 'astro:content'

type Props = {
  post: CollectionEntry<'posts'>
}
let { post } = Astro.props
---

<article
  class="relative z-10 flex items-center text-slate-900 dark:text-slate-200"
>
  <div class="flex flex-col flex-grow space-y-1">
    <div
      class="flex flex-col justify-between space-y-2 md:space-y-0 md:space-x-2 md:flex-row md:items-baseline"
    >
      <a class="link" href={`/blog/${post.slug}`}>
        <h3
          style={`view-transition-name: ${post.slug}-title`}
          class="text-xl font-bold tracking-wider w-fit"
        >
          {post.data.title}
        </h3>
      </a>
    </div>
    <p
      class="max-w-3xl text-slate-700 dark:text-slate-300 leading-8 w-fit"
      style={`view-transition-name: ${post.slug}-lede`}
    >
      {post.data.lede}
    </p>
    <p
      class="text-slate-700 dark:text-slate-300 w-fit"
      style={`view-transition-name: ${post.slug}-date`}
    >
      {post.data.datePublished.toLocaleDateString()}
    </p>
  </div>
</article>
