---
import type { CollectionEntry } from 'astro:content'

type Props = {
  post: CollectionEntry<'posts'>
}
let { post } = Astro.props
---

<a class="group block relative text-gray-900" href={`/blog/${post.slug}`}>
  <article
    class="relative z-10 flex items-center transition-all ease-out mouse:group-hover:-translate-y-1 duration-100 mouse:group-active:translate-y-0 group-focus-visible:-translate-y-1"
  >
    <div
      class="flex flex-col flex-grow p-8 space-y-1 border border-gray-300 rounded group-hover:rounded-b-none bg-gray-50/80"
    >
      <div
        class="flex flex-col justify-between space-y-2 md:space-y-0 md:space-x-2 md:flex-row md:items-baseline"
      >
        <h3
          style={`view-transition-name: ${post.slug}-title`}
          class="text-xl font-bold tracking-wider underline sm:no-underline"
        >
          {post.data.title}
        </h3>
        <div class="flex flex-col md:items-end md:pl-2">
          <span class="text-gray-700">
            {post.data.datePublished.toLocaleDateString()}
          </span>
        </div>
      </div>
      <p class="max-w-3xl text-gray-700 leading-8">
        {post.data.lede}
      </p>
    </div>
  </article>
  <div
    class="fancy-gradient shadow absolute rounded inset-0 mouse:group-hover:-top-1 group-focus-visible:-top-1 group-active:translate-y-1 transition-[top] duration-100"
  >
  </div>
</a>
