---
const { title, description, sourceUrl, projectUrl, type } = Astro.props.project
let classMap = {
  oss: 'bg-sky-100 text-sky-800 border border-sky-200',
  content: 'bg-fuchsia-100 text-fuchsia-800 border border-fuchsia-200'
}
---

<div
  data-type={type}
  class="flex flex-col justify-between gap-6 px-6 py-8 border rounded-md shadow-md border-slate-200 text-slate-800"
>
  <div class="flex flex-col gap-6">
    <div class="flex items-center justify-between gap-2">
      <h3 class="text-xl font-semibold tracking-wider">
        {title}
      </h3>
      <span
        class={`rounded-full uppercase px-3 py-1 text-xs tracking-wider ${classMap[type]}`}
      >
        {type}
      </span>
    </div>
    <div class="max-w-xl">{description}</div>
  </div>

  <div class="flex items-center gap-4">
    {
      projectUrl ? (
        <a
          class="font-semibold text-blue-800 transition-colors hover:text-blue-400"
          href={projectUrl}
        >
          View
        </a>
      ) : null
    }

    {
      sourceUrl ? (
        <a
          href={sourceUrl}
          class="text-blue-800 transition-colors hover:text-blue-400"
        >
          Code
        </a>
      ) : null
    }
  </div>
</div>
