---
import { CollectionEntry } from 'astro:content'

type Props = {
  project: CollectionEntry<'projects'>
}
const { project } = Astro.props
let classMap = {
  oss: 'bg-sky-100 text-sky-800 border border-sky-200',
  content: 'bg-fuchsia-100 text-fuchsia-800 border border-fuchsia-200'
}
---

<div
  data-type={project.data.type}
  class="flex flex-col justify-between gap-6 px-6 py-8 border rounded-md shadow-md border-slate-200 text-slate-800"
>
  <div class="flex flex-col gap-6">
    <div class="flex items-start justify-between gap-2">
      <h3 class="text-xl font-semibold tracking-wider">
        {project.data.title}
      </h3>
      <span
        class={`rounded-full uppercase px-3 py-1 text-xs tracking-wider ${
          classMap[project.data.type]
        }`}
      >
        {project.data.type}
      </span>
    </div>
    <div class="max-w-xl text-gray-700">{project.data.description}</div>
  </div>

  <div class="flex items-center gap-4">
    {
      project.data.projectUrl ? (
        <a
          class="font-semibold text-blue-800 transition-colors hover:text-blue-400"
          href={project.data.projectUrl}
        >
          View
        </a>
      ) : null
    }

    {
      project.data.sourceUrl ? (
        <a
          href={project.data.sourceUrl}
          class="text-blue-800 transition-colors hover:text-blue-400"
        >
          Code
        </a>
      ) : null
    }
  </div>
</div>
