---
import { type CollectionEntry } from 'astro:content'

type Props = {
  project: CollectionEntry<'projects'>
}
const { project } = Astro.props
---

<div
  class="flex flex-col justify-between gap-2 px-6 py-8 border rounded-md shadow-md border-current"
>
  <div class="flex flex-col gap-6">
    <div class="flex items-start justify-between gap-2">
      <h3 class="text-xl font-semibold tracking-wider dark:text-slate-200">
        {project.data.title}
      </h3>
      <span
        data-tag={project.data.type}
        class="rounded-full uppercase px-3 py-1 text-xs tracking-wider"
      >
        {project.data.type}
      </span>
    </div>
    <div class="max-w-xl text-slate-700 dark:text-slate-300">
      {project.data.description}
    </div>
  </div>

  <div class="flex items-center gap-4">
    {
      project.data.projectUrl ? (
        <a class="link" href={project.data.projectUrl}>
          View
        </a>
      ) : null
    }

    {
      project.data.sourceUrl ? (
        <a href={project.data.sourceUrl} class="link">
          Code
        </a>
      ) : null
    }
  </div>
</div>

<style>
  [data-tag] {
    border: 1px solid;
    border-color: currentColor;
  }
  [data-tag='oss'] {
    background: theme('colors.sky.100');
    color: theme('colors.sky.800');
  }
  [data-tag='content'] {
    background: theme('colors.fuchsia.100');
    color: theme('colors.fuchsia.800');
  }
</style>
